/* CSS pour le formulaire de connexion */
h2 {
  margin-top: 0;
}

form {
  max-width: 500px; /* Réglez la largeur maximale du formulaire */
  margin: 70px auto; /* Centrez le formulaire et ajoutez de la marge autour */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Styles pour les champs d'entrée MatInput */
mat-form-field {
  width: 100%;
  margin-bottom: 15px; /* Espacement entre les champs */
}

/* Styles pour les boutons Material */
mat-raised-button {
  width: 100%; /* Remplissez la largeur du bouton */
}

/* Styles pour le bouton "Login" */
button[type="submit"] {
  width: 100%; /* Remplissez la largeur du bouton */
}

/* Style pour le titre "Se connecter" */
h2 {
  text-align: center; /* Centrez le texte horizontalement */
  font-size: 24px; /* Ajustez la taille de la police */
  margin-top: 0; /* Supprimez la marge supérieure par défaut */
  margin-bottom: 20px; /* Ajoutez de la marge en bas */
}
  