<mat-toolbar color="primary">
  <span class="logo-container" routerLink="/public/centres">
    <img src="assets/images/vaccin.png" alt="Vaccine-App" class="logo"/>
    <span class="logo-text">Vaccine-App</span>
  </span>
  <span class="spacer"></span>
  <!-- <button class="login" mat-button *ngIf="!isLoggedIn" (click)="logout()">Logout</button> -->
  <button class="login" mat-button *ngIf="isLoggedIn" routerLink="/login">Login</button>
  <img src="assets/images/connexion.png" alt="Bonhomme" class="bonhomme" />
</mat-toolbar>


<router-outlet></router-outlet>




