<div>
  <input type="text" [(ngModel)]="ville" placeholder="Entrez le nom de la ville">
  <button (click)="searchCentres()">Rechercher</button>
</div>

<div *ngIf="centres">
  <h2>Résultats pour la ville {{ ville }} :</h2>
  <ul>
    <li *ngFor="let centre of centres">
      <h3>{{ centre.nom }}</h3>
      <p>{{ centre.adresse }}</p>
      <button (click)="choisirCentre(centre)">Choisir</button>
    </li>
  </ul>
</div>

<div *ngIf="inscriptionFormVisible">
  <h2>Formulaire d'inscription pour le centre {{ nomCentre }} :</h2>
  <form (submit)="onSubmit()">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" [(ngModel)]="inscriptionData.nom" name="nom" required>

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" [(ngModel)]="inscriptionData.prenom" name="prenom" required>

    <label for="email">Email :</label>
    <input type="email" id="email" [(ngModel)]="inscriptionData.email" name="email" required>

    <label for="telephone">Téléphone :</label>
    <input type="text" id="telephone" [(ngModel)]="inscriptionData.telephone" name="telephone" required>

    <label for="dateInscription">Date d'inscription :</label>
    <input type="date" id="dateInscription" [(ngModel)]="inscriptionData.dateInscription" name="dateInscription" required>

    <!-- Champ masqué pour l'ID du centre -->
    <input type="hidden" [(ngModel)]="inscriptionData.centre!.id" name="centreId">

    <button type="submit">Envoyer</button>
  </form>
</div>

<div *ngIf="successMessage">
  <app-success-popup [successMessage]="successMessage" (closePopup)="closeSuccessPopup()"></app-success-popup>
</div>

  