/* Styles pour les conteneurs principaux */
.mat-form-container, .mat-results-container, .mat-inscription-container {
  margin: 30px auto; /* Centrez les conteneurs et réduisez la marge extérieure */
  padding: 20px;
  max-width: 700px; /* Réduisez la largeur maximale */
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Styles pour les boutons Material */
mat-raised-button {
  margin-top: 10px;
}

/* Styles pour les titres */
h2 {
  margin-top: 0;
}

/* Styles pour les formulaires Material */
mat-form-field {
  width: 100%;
}

/* Styles pour les messages d'erreur (le cas échéant) */
.mat-error {
  color: #f44336; /* Couleur de l'erreur */
}

/* Styles pour les messages de succès (le cas échéant) */
.success-message {
  color: #4CAF50; /* Couleur du succès */
  font-weight: bold;
  margin-top: 10px;
}

/* Styles pour les boutons Material à l'intérieur de la liste */
mat-list-item button.mat-raised-button {
  visibility: visible; /* Assurez-vous que les boutons sont visibles */
}

/* CSS pour afficher le texte du nom du centre */
.mat-list-item .mat-list-text {
  display: inline; /* Force l'affichage en ligne du texte */
  margin-right: 10px; /* Ajuste la marge à droite pour l'espacement */
}
.messageVide{
  display: flex;
  justify-content: center;
}
h3{
  font-size: 15px;
}
/* Dans votre fichier CSS ou dans une balise <style> */
.cancel-button {
  margin: 10px; /* Ajustez la valeur en pixels selon l'espace souhaité */
}








